<p class="lead">
    {% trans %}ds.accountdashboard.page.portal.home.index.welcome.description{% endtrans %}
</p>
<p>
    <a class="btn btn-lg btn-success" href="{{ path('ds_accountdashboard_account_dashboard_index') }}" role="button">
        {% trans %}ds.accountdashboard.page.portal.home.index.welcome.button.login{% endtrans %}
    </a>
</p>