<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ form_row(form.notification) }}
            {{ form_row(form.user) }}
            {{ form_row(form.channels) }}
        </div>
    </div>
    {% for widget in ds_widgets({ position: 'ds_notification_subscription_form_subscription', context: context }, { form: form }) %}
        {{ widget.content|raw }}
    {% endfor %}
</div>
