[submodule "src/Ds/Bundle/SSOBundle"]
	path = src/Ds/Bundle/SSOBundle
	url = git@github.com:DigitalState/Platform-SSO-Bundle.git
[submodule "src/Ds/Bundle/AccountBundle"]
	path = src/Ds/Bundle/AccountBundle
	url = git@github.com:DigitalState/Platform-Account-Bundle.git
[submodule "src/Ds/Bundle/AdminBundle"]
	path = src/Ds/Bundle/AdminBundle
	url = git@github.com:DigitalState/Platform-Admin-Bundle.git
[submodule "src/Ds/Bundle/ApiBundle"]
	path = src/Ds/Bundle/ApiBundle
	url = git@github.com:DigitalState/Platform-Api-Bundle.git
[submodule "src/Ds/Bundle/BpmBundle"]
	path = src/Ds/Bundle/BpmBundle
	url = git@github.com:DigitalState/Platform-Bpm-Bundle.git
[submodule "src/Ds/Bundle/BpmCamundaBundle"]
	path = src/Ds/Bundle/BpmCamundaBundle
	url = git@github.com:DigitalState/Platform-Bpm-Camunda-Bundle.git
[submodule "src/Ds/Bundle/BpmPmBundle"]
	path = src/Ds/Bundle/BpmPmBundle
	url = git@github.com:DigitalState/Platform-Bpm-Pm-Bundle.git
[submodule "src/Ds/Bundle/CommunicationBundle"]
	path = src/Ds/Bundle/CommunicationBundle
	url = git@github.com:DigitalState/Platform-Communication-Bundle.git
[submodule "src/Ds/Bundle/ConsoleBundle"]
	path = src/Ds/Bundle/ConsoleBundle
	url = git@github.com:DigitalState/Platform-Console-Bundle.git
[submodule "src/Ds/Bundle/DataBundle"]
	path = src/Ds/Bundle/DataBundle
	url = git@github.com:DigitalState/Platform-Data-Bundle.git
[submodule "src/Ds/Bundle/DataGridBundle"]
	path = src/Ds/Bundle/DataGridBundle
	url = git@github.com:DigitalState/Platform-DataGrid-Bundle.git
[submodule "src/Ds/Bundle/EntityBundle"]
	path = src/Ds/Bundle/EntityBundle
	url = git@github.com:DigitalState/Platform-Entity-Bundle.git
[submodule "src/Ds/Bundle/LinkedinBundle"]
	path = src/Ds/Bundle/LinkedinBundle
	url = git@github.com:DigitalState/Platform-Linkedin-Bundle.git
[submodule "src/Ds/Bundle/LocaleBundle"]
	path = src/Ds/Bundle/LocaleBundle
	url = git@github.com:DigitalState/Platform-Locale-Bundle.git
[submodule "src/Ds/Bundle/NotificationBundle"]
	path = src/Ds/Bundle/NotificationBundle
	url = git@github.com:DigitalState/Platform-Notification-Bundle.git
[submodule "src/Ds/Bundle/OrganizationBundle"]
	path = src/Ds/Bundle/OrganizationBundle
	url = git@github.com:DigitalState/Platform-Organization-Bundle.git
[submodule "src/Ds/Bundle/SecurityBundle"]
	path = src/Ds/Bundle/SecurityBundle
	url = git@github.com:DigitalState/Platform-Security-Bundle.git
[submodule "src/Ds/Bundle/SSOLinkedinBundle"]
	path = src/Ds/Bundle/SSOLinkedinBundle
	url = git@github.com:DigitalState/Platform-SSO-Linkedin-Bundle.git
[submodule "src/Ds/Bundle/TransportBundle"]
	path = src/Ds/Bundle/TransportBundle
	url = git@github.com:DigitalState/Platform-Transport-Bundle.git
[submodule "src/Ds/Bundle/TwitterBundle"]
	path = src/Ds/Bundle/TwitterBundle
	url = git@github.com:DigitalState/Platform-Twitter-Bundle.git
[submodule "src/Ds/Bundle/UserBundle"]
	path = src/Ds/Bundle/UserBundle
	url = git@github.com:DigitalState/Platform-User-Bundle.git
[submodule "src/Ds/Bundle/UserPersonaBundle"]
	path = src/Ds/Bundle/UserPersonaBundle
	url = git@github.com:DigitalState/Platform-User-Persona-Bundle.git
[submodule "src/Ds/Bundle/WidgetBundle"]
	path = src/Ds/Bundle/WidgetBundle
	url = git@github.com:DigitalState/Platform-Widget-Bundle.git
