<div class="row">
    <div class="col-lg-3">
        <p class="lead">
            <strong>First Name:</strong>
        </p>
    </div>
    <div class="col-lg-3">
        <p class="lead">
            {{ persona.data.firstName }}
        </p>
    </div>
    <div class="col-lg-3">
        <p class="lead">
            <strong>Last Name:</strong>
        </p>
    </div>
    <div class="col-lg-3">
        <p class="lead">
            {{ persona.data.lastName }}
        </p>
    </div>
</div>
