{% extends 'DsPortalBundle:Portal:base.html.twig' %}

{% block title %}Portal{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1>
            Welcome to <br>{{ oro_config_value('ds_portal.title') }}
        </h1>
        <p class="lead">
            Sign in to access services.
        </p>
        <p>
            <a class="btn btn-lg btn-success" href="{{ path('ds_accountdashboard_account_dashboard_index') }}" role="button">
                Login
            </a>
        </p>
    </div>
{% endblock %}