<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ form_widget(form.criteria) }}
        </div>
    </div>
    {% for widget in ds_widgets({ position: 'ds_communication_communication_form_criteria', context: context }, { form: form }) %}
        {{ widget.content|raw }}
    {% endfor %}
</div>
