{% extends 'DsAccountBundle:Account:base.html.twig' %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('ds_portal_portal_home_index') }}">
                {% trans %}ds.portal.page.portal.home.index.title{% endtrans %}
            </a>
        </li>
        <li>
            <a href="{{ path('ds_accountdashboard_account_dashboard_index') }}">
                {% trans %}ds.account.home.page.account.index.title{% endtrans %}
            </a>
        </li>
        <li class="active">
            {% trans %}ds.accountdashboard.page.account.dashboard.index.title{% endtrans %}
        </li>
    </ul>
{% endblock %}

{% block content %}
    {% for widget in ds_widgets({ position: 'ds_accountdashboard_dashboard' }) %}
        {% if widget.title %}
            <h3>
                {{ widget.title|trans }}
            </h3>
        {% endif %}
        {{ widget.content|raw }}
    {% endfor %}
{% endblock %}
