{% if oro_config_value('ds_sso_linkedin.enabled') %}
    <a href="{{ hwi_oauth_authorization_url('linkedin') }}">
        {% image '@DsSSOLinkedinBundle/Resources/public/img/button/sso/non-retina/small-default.png' %}
            <img src="{{ asset_url }}" />
        {% endimage %}
    </a>
{% endif %}
