<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ form_row(form.owner, { label: 'ds.casestatus.status.owner.label' }) }}
        </div>
    </div>
    {% for widget in ds_widgets({ position: 'ds_casestatus_status_form_owner', context: context }, { form: form }) %}
        {{ widget.content|raw }}
    {% endfor %}
</div>
