<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>
                    Please provide some information about yourself and what you would like to discuss with the mayor.
                </h4>
                <hr>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_rest(form) }}
                <button type="submit" class="btn btn-lg btn-primary">
                    Request
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    Additional	Information
                </h5>
                <p>
                    We have pre-populated this form with information we already know about you from your MyAccount Persona.  You can update your persona or make changes directly in this form.  Changes made in this form will not change your persona.
                </p>
            </div>
        </div>
    </div>
</div>
