{% extends 'OroUIBundle:actions:index.html.twig' %}

{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set pageTitle = 'ds.communication.template.page.index.title'|trans %}

{% block navButtons %}
    {% if resource_granted('ds.communication.template.create') %}
        <div class="btn-group pull-right">
            <a href="{{ path('ds_communication_template_create') }}" class="btn btn-primary action-button">
                {% trans %}ds.communication.template.button.create{% endtrans %}
            </a>
            {% set widgets = ds_widgets({ position: 'ds_communication_template_button_create' }) %}
            {% if widgets is not empty %}
                <a href="#" class="btn-primary btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for widget in widgets %}
                        <li>
                            {{ widget.content|raw }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
